{% extends "blog/base.html" %}
{% block content %}
<span class="border border-dark"></span>

<!-- Random copy pasted update, i think its a Facebook update but don't take my word for it-->

    <h1>Updates to our Terms of Service and Privacy Policy</h1>
    <span class="border border-dark"></span>

    <h4>We believe you should always know what data we collect from you and how we use it, and that you should have meaningful control over both. As part of our ongoing commitment to transparency, and in preparation for new data protection laws that take effect next month, we’re updating our Terms of Service and Privacy Policy to empower you to make the best decisions about the information that you share with us. 
    </h4>
    <h1>

    </h1>
    <h5>
        These updates will take effect on May 25, 2018. By using our services on or after that date, you’ll be agreeing to these revisions. You should read the documents in full, but the key updates in our Privacy Policy include:
    </h5>
    <h1>

    </h1>
    <li>
        More focus on the controls we offer you over your personal data;
    </li>
    <li>
        More focus on how the site shares your public data broadly and instantly, including through our developer tools;

    </li>
    <li>
        More transparency and control over how we share your data with business partners;

    </li>
    <li>
        More clarity about how we share your data to prevent harm, comply with law, serve the public interest, and keep the site safe and welcoming for everyone.

    </li>
{% endblock content %}
